<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="page-container">
    <div class="page-content">

        <h1>Tasks</h1>

        <div class="centered-form">
            <form method="POST">
                <input type="text" name="taskname" placeholder="tilføj ny opgave">
                <button type="submit" formaction="/addtask">Add</button>


            <h2>ToDo:</h2>
            <table class="task-table">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${taskList}" th:if="${not task.done}">
                    <td th:text="${task.name}"></td>
                    <td>
                        <button type="submit" name="done" formaction="/done" th:value="${task.id}">Done</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <h2>Done:</h2>
            <table class="task-table">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${taskList}" th:if="${task.done}">
                    <td th:text="${task.name}"></td>
                    <td>
                        <button type="submit" name="done" formaction="/undo" th:value="${task.id}">Undo</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>

        <a href="/">Til forsiden</a>
    </div>
</div>
</body>

</html>
